@font-face 
{
    font-family: ;
    src: url();
}
body
{
    padding: 30px;
    margin: 30px;
    border: 30px;
    background-image: url("https://i.pinimg.com/564x/77/0f/f6/770ff679a2188ce3b57ae79fa9247420.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.cont
{
    color: rgb(235, 4, 119);
    text-align: center;
}
