<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/styles/disenotempo.css">
    <title>Temporizador</title>
</head>
<body id="fondo">
    <div class="divPadre">
        <div class="hijo1">
            <button class="contenedor">
                <strong>
                Iniciar 
                </strong>
            </button>
        </div>
        <div class="hijo2">
            <button class="contenedor">
                <strong>
                    Reiniciar
                </strong>
            </button> 
        </div>
        <div class="hijo3">
            <button class="contenedor">
                <strong>
                    Pausa  
                </strong>
            </button>
        </div>
    </div>
    <div class="divCirculo">
        <img src="../statics/circulo3.png" alt="circulo" width="500">
        <div class="texto">
            --:--:--
            <!-- aqui va el contador -->
        </div>
    </div>
    <script src="../dynamics/js/tempo.js"></script>
</body>
</html>