#fondo
{
    background-image: url(https://i.pinimg.com/564x/49/3f/d6/493fd6f6a2151a08b2f860dd1776b952.jpg);
    margin: 50px;
}
.contenedor
{
    background-color:PaleVioletRed;
    border:0px;
    border-radius: 30px;
    font-size: 20px;
    margin: 9px;
    width: 110px;
    height: 50px;
}
.contenedor:hover
{
    background-color: crimson;
}
.divPadre
{
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.divCirculo
{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto
{
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}
